<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Login Form</title>
 
</head>
<body>    
<div class="container">
    <h2 class="user">  Login form </h2>
    <form action="{{ url_for('login') }}" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                        {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <br>
        <div class="form-group">
            <label class="text">Username:</label>
         <input class="email" type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
        </div>
        <br>
        <div class="form-group">
            <label class="text"> Password:</label>
           <input class="email" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
        </div>    
        <button class="btn" type="submit" class="btn btn-primary">Login</button>
        <p class="bottom">Don't have an account?  <a class="bottom" href="{{url_for('register')}}"> Register here</a></p>
    </form>
</div>
</body>
</html>